.featureCard {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 2rem 0;
  flex: 1;
  text-align: center;
}

.content h3 {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
  margin-top: 0.1rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #000;
}

.description {
  line-height: 1.7;
  font-size: 1rem;
  color: #000;
  text-align: center;
  margin: 0 6%;
}

@media (max-width: 768px) {
  .imageContainer {
    height: 250px;
  }

  .content {
    padding: 1.5rem 0;
  }

  .content h3 {
    font-size: 1.25rem;
  }

  .description {
    font-size: 1rem;
  }
}
