.blockquote {
  border: none;
  padding: 0;
  margin: 0;
  font-style: normal;
}

.blockquote p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #333;
}

.blockquote p::before {
  content: '"';
  font-size: 3rem;
  line-height: 0;
  vertical-align: -0.4em;
  color: #ccc;
  margin-right: 0.25rem;
}

.blockquote p::after {
  content: '"';
  font-size: 3rem;
  line-height: 0;
  vertical-align: -0.4em;
  color: #ccc;
  margin-left: 0.25rem;
}

.blockquote footer {
  font-size: 1rem;
  color: #666;
  font-weight: 400;
}

.blockquote footer strong {
  font-weight: 600;
  color: #333;
}

.linkedinLink {
  text-align: center;
  margin-top: 2rem;
}

.linkedinLink a {
  color: #0077b5;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.linkedinLink a:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .blockquote p {
    font-size: 1.1rem;
  }
}
